<div class="container-fluid footer">
  <div class="row">

    <!-- Endereço -->
    <div class="col-lg-6">
      <i class="bi bi-geo-alt-fill">Localização </i>
        <h1>Rua Pedro Rachid, 302</h1>
        <h1>Santana</h1>
        <h1>São José dos Campos - SP</h1>
    </div>

    <!-- Mapa -->
    <i class="bi bi-map">Mapa</i>
    <div class="col-lg-4">
      <a routerLink="">Home</a><br>
      <a routerLink="">Menu</a><br>
      <a routerLink="">Sobre</a><br>
      <a routerLink="">Contato</a><br>
    </div>

    <!-- Contatos -->
    <div class="ctt">
      <i class="bi bi-wechat">Contatos </i>

        <div class="col-lg-4">

          <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a>
          <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a>
        </div>
      </div>
    <!-- QR code app -->
  </div>
</div>
